body{
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
}

.sideToolbar{
    position: fixed;
    width: 6%;
    height: 100%;
    background: white;
}

.menuButton{
    width: 36px;
    height: 36px;
    border: none;
    background: transparent;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 14px;
    margin-bottom: 24px;

}

.menuButton:hover{
    background: rgb(205, 205, 205);
}

.menu{
    width: 110%;
    height: 100%;
    margin-top: 5px;
    margin-left: 2px;
    cursor: pointer;
}

.mainBody{
    width: 94%;
    height: 1540px;
    background: white;
    float: right;
}

.headerBox{
    width: 100%;
    height: 126px;
    background: white;
    position: fixed;
    z-index: 1;
}

.toolbarButtons{
    margin-left: 5px;
    margin-top: 3px;
    height: 74px;
    width: 64px;
    border: none;
    background: transparent;
    border-radius: 15%;
    float: left;
    cursor: pointer;
}

.toolbarButtons:hover{
    background: rgb(205, 205, 205);
}

.homeButton{
    width: 50%;
    height: 32%;
    padding-left: 2px;
    padding-top: 2px;
}

.shortsButton{
    width: 50%;
    height: 32%;
    padding-left: 2px;
    padding-top: 2px;
}

.subscriptionsButton{
    width: 50%;
    height: 32%;
    padding-left: 2px;
    padding-top: 2px;
}

.youButton{
    width: 56%;
    height: 32%;
    padding-left: 4px;
    padding-top: 2px;

}

.searchBox{
    width: 100%;
    height: 50%;
    background: white;
    float: left;
}

.suggestionBox{
    width: 100%;
    height: 50%;
    background: white;
    float: right;
    display: flex;
    align-items: center;
}

.logo{
    height: 100%;
    width: 16%;
    background: white;
    float: left;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    background: white;
    float: left;
}

.searchInput{
    outline: none;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    width: 498px;
    height: 36px;
    background: transparent;
    border: none;
    float: left;
}

.searchBackground{
    background: white;
    display: flex;
    width: 95%;
    height: 60%;
    border: 1px solid;
    border-color: gray;
    border-radius: 30px;
    align-items: center;
    justify-content: flex-end;
}

.lensBackground{
    background: #f3f3f3;
    height: 38px;
    width: 60px;
    cursor: pointer;
    border: 1px solid;
    border-color: gray;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.lens{
    margin-top: 8px;
    margin-left: 16px;
}

.createBar{
    background: white;
    height: 100%;
    width: 33%;
    float: right;
}

.voice{
    width: 38px;
    height: 38px;
    border: none;
    background: #edeaea;
    border-radius: 50%;
    margin-top: 12px;
    margin-bottom: 24px;
    cursor: pointer;
}

.voice:hover{
    background: gray;
}

.create{
    width: 38px;
    height: 38px;
    border: none;
    background: transparent;
    border-radius: 50%;
    margin-left: 125px;
    margin-top: 12px;
    margin-bottom: 24px;
    cursor: pointer;
}

.create:hover{
    background: gray;
}

.notification{
    width: 38px;
    height: 38px;
    border: none;
    background: transparent;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 12px;
    margin-bottom: 24px;
    cursor: pointer;
}

.notification:hover{
    background: gray;
}

.account{
    width: 38px;
    height: 38px;
    border: none;
    background: #edeaea;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 12px;
    margin-bottom: 24px;
    cursor: pointer;
}

.account:hover{
    background: gray;
}

#img{
    margin-left: -3.6px;
    border-radius: 50%;
    height: 36px;
    width: 36px;
}

.all{
    width: fit-content;
    border: none;
    border-radius: 8px;
    min-width: 40px;
    min-height: 30px;
    background-color: black;
    color: white;
    font-size: 13px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 6px;
    cursor: pointer;
    font-family: Roboto, Arial, sans-serif;
}

.suggestionButtons{
    width: auto;
    border: none;
    border-radius: 8px;
    min-width: 40px;
    min-height: 30px;
    background-color: #edeaea;
    color: black;
    font-size: 13px;
    font-weight: bold;
    margin-left: 6px;
    margin-right: 6px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    font-family: Roboto, Arial, sans-serif;
}

.arrowBox{
    width: 100px;
    height: 100%;
    background: transparent;
    margin-left: -70px;
}

.gradiant{
    height: 100%;
    width: 50%;
    background: linear-gradient(270deg, white, transparent);
    float: left;
}

.rightArrow{
    height: 100%;
    width: 50%;
    background: white;
    float: right;
    display: flex;
    align-items: center;
}

.arrowIcon{
    width: 100%;
    height: 40%;
}

.contentBox{
    width: 100%;
    height: 130px;
    background: white;
}

.contentTable{
    margin-top: 30px;
    width: 100%;
    height: 100%;
}

.thumbnail{
    margin-top: 10px;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 366px;
    height: 210px;
    cursor: pointer;
}

.channelIconBox{
    margin-left: 10px;
    width: 365px;
    height: 110px;
    background: transparent;
    cursor: pointer;
}

.videoTitle{
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
    float: left;
}

.channelIcon{
    background: transparent;
    width: 36px;
    height: 100%;
    float: left;;
}

.channelImage{
    border-radius: 50%;
    height: 36px;
    width: 36px;
}

.nameBox{
    display: flex;
    float: left;
    height: 100%;
    width: 306px;
    background: transparent;
    flex-direction: column;
    flex-wrap: nowrap;
}

.optionBox{
    background: transparent;
    width: 22px;
    height: 100%;
    float: left;
}

.options{
    background: transparent;
    width: 22px;
    height: 22px;
}

.channelNameVerificationBox{
    height: 40px;
    width: 200px;
    background:transparent;
    margin-left: 10px;
}

.channelName{
    color: #858585;
    font-size: 14px;
    float: left;
}

.channelName:hover{
    color: black;
}

.verifiedIcon{
    height: 15px;
    width: 15px;
    float: left;
    margin-left: 4px;
}

.views_year{
    color: #858585;
    font-size: 14px;
    margin-top: 5px;
    float: left;
}

.duration{
    font-size: 12px;
    font-weight: bold;
    color: white;
    border: none;
    width: fit-content;
    height: 18px;
    border-radius: 4px;
    background: #00000094;
    position: absolute;
    z-index: 0;
    margin-top: 195px;
    margin-left: 320px;
}

